<html>
   <head>
      <title>FitSwap</title>
      <link rel="stylesheet" href="/css/index.css">
      <script src="https://code.jquery.com/jquery-3.3.1.js"
         integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
         crossorigin="anonymous"></script>
      <script src="/js/index.js"></script>
   </head>
   
   <body>
      <nav class="header">
         <img class="logo" src="https://www.fitswap.com/assets/images/fitswap-logo-icon.svg" alt="">
         <h1 class="title">FITSWAP</h1>
         <a href="/">Home</a>
         <a href="/ninja">Ninja Form</a>
         <a href="/novice">Novice Form</a>
      </nav>
