<% include partials/header %>
<div class="green">
   <div style="display: flex; justify-content: center; margin: 0 auto; margin-bottom: 20px; padding-top: 20px;">
      <img src="https://www.fitswap.com/assets/images/fitswap-logo-text.svg" alt="">
   </div>   
   <div class="buttons">
      <a href="/ninja"><button class="btn main">I AM A FITNESS NINJA</button> </a>
      <a href="/novice"><button class="btn main">I AM A FITNESS NOVICE</button></a>
   </div>
   <div class="codes">
         <img  src="https://www.fitswap.com/assets/images/fitswap-code.png" alt="">

   </div>
      

   
</div>
   

<% include partials/footer %>