<% include partials/header %>
<div class="green">
   
      <h1 style="text-align: center; margin-bottom: 20px; padding-top: 20px; color: white;">FITSWAP</h1>
   <div class="buttons">
      <a href="/ninja"><button class="btn main">I AM A NINJA</button> </a>
      <a href="/novice"><button class="btn main">I AM A NOVICE</button></a>
   </div>
   <div class="codes">
         <img  src="https://www.fitswap.com/assets/images/fitswap-code.png" alt="">

   </div>
      

   
</div>
   

<% include partials/footer %>