<% include partials/header %>

<h1>Ninja Form</h1>

<form method="POST" action="/users/add">
    <label>First Name</label>
    <input type="text" name="first_name">
    <br>
    <label>Last Name</label>
    <input type="text" name="last_name">
    <br>
    <label>Email</label>
    <input type="text" name="email">
    <br>
    <label>What is your fitness goal?</label>
    <select>
        <option value="">Get in Shape</option>
        <option value="">Learn a new sport</option>
        <option value="">Recovery from an injury</option>
    </select>
    <label></label>
    <br><br>
    <input type="submit" value="Submit">
</form>


<% include partials/footer %>